@import '../partials/variables';

.aboutMe {
  background-image:url(../img/astronaut-looking-at-the-sky_3840x2160_xtrafondos.com.jpg);
  width: 100%;
  height: 300px;
  color:$color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutMe-title {
  margin-bottom: 10px;
}
.aboutMe-text {
  font-size: $text-letters;
  text-align: justify;
}